venv
.idea/
admin_projects.iml
lib/Jinja2-2.9.5.dist-info/
lib/MarkupSafe-0.23.dist-info/
lib/Werkzeug-0.11.15.dist-info/
lib/appdirs-1.4.0.dist-info/
lib/appdirs.py
lib/appdirs.pyc
lib/markupsafe/tests.py
lib/markupsafe/tests.pyc
lib/packaging-16.8.dist-info/
lib/packaging/
lib/pyparsing-2.1.10.dist-info/
lib/pyparsing.py
lib/pyparsing.pyc
lib/six-1.10.0.dist-info/
lib/six.py
lib/six.pyc
config.pyc
forms.pyc
views.pyc
*.pyc

