.bottomCard{
    margin-bottom: 0 !important;
}
.card1{
    background-color: #344B59;
}
.card2{
    background-color: #566783;
}
.card3{
    background-color: #F2F2F2;
}
.card4{
    background-color: #8B8C80;
}
.card5{
    background-color: #516373;
}
.card6{
    background-color: #F2EFDF;
}
