{% extends 'layout.html' %}
{% block content %}
    {% from "macro/navbar.html" import navbar %}
    {% from "macro/footer.html" import footer %}
    	{{ navbar() }}
    		<main class="indigo darken-1 white-text">
    			<div class="container">
    					<!-- Equipo / Teams -->
    				<div class="row">
    					<div class="section">
    						<h2>Equipo: </h2>
    					</div>
    					<div class="divider"></div>
						<ul class="collapsible popout" data-collapsible="accordion">
							<li>
								<div class="collapsible-header border-collapsible purple darken-1"><i class="material-icons">filter_drama</i>Miembros</div>
								<div class="collapsible-body border-collapsible purple lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header border-collapsible pink darken-1"><i class="material-icons">place</i>Proyecto</div>
								<div class="collapsible-body border-collapsible pink lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header border-collapsible orange darken-1"><i class="material-icons">whatshot</i>Github / Gitlab</div>
								<div class="collapsible-body border-collapsible orange lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
						</ul>
    				</div>
						<!-- Proyectos / projects -->
    				<div class="row">
    					<div class="section white-text">
    						<h2>Proyecto: </h2>
    					</div>
    					<div class="divider"></div>
						<ul class="collapsible popout" data-collapsible="accordion">
							<li>
								<div class="collapsible-header border-collapsible teal darken-1"><i class="material-icons">filter_drama</i>Duración</div>
								<div class="collapsible-body border-collapsible teal lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header border-collapsible green darken-1"><i class="material-icons">place</i>Descripción</div>
								<div class="collapsible-body border-collapsible green lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
							<li>
								<div class="collapsible-header border-collapsible amber darken-"><i class="material-icons">whatshot</i>Estado</div>
								<div class="collapsible-body border-collapsible amber lighten-1"><span>Lorem ipsum dolor sit amet.</span></div>
							</li>
						</ul>
    				</div>
    			</div>
    		</main>
    	{{ footer() }}
{% endblock %}