{% extends 'layout.html' %}
	{% block content %}
	    {% from "macro/navbar.html" import navbar %}
	    {% from "macro/footer.html" import footer %}
        {% from "macro/renderField.html" import render_field %}

	        {{ navbar() }}


        <main id="color_form_bg">
            <div class="container center">
                <div class="row">
                    <!--Log In-->
                    <div class="col s12 m12 l4 push-l8 marginForm white-text center-align">
                        <form action="/login" method="post">
                            <div class="section">
                                <div class="section center">
                                    <h5>Iniciar Sesión / Log In</h5>
                                </div>
                                <div class="section center">
                                    <div class="divider"></div>
                                    <div class="row center">
                                        <!--
                                        <div class="input-field col s12 m12 l12">
                                            <i class="material-icons prefix">person</i>
                                            <input id="icon_prefix2" type="text" class="validate">
                                            <label for="icon_prefix2"> { {label8}}</label>
                                        </div>
                                        -->
                                        {{ render_field(login.username) }}
                                    </div>
                                    <div class="row center">
                                        <!--
                                        <div class="input-field col s12 m12 l12">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input id="icon_prefix2" type="password" class="validate">
                                            <label for="icon_prefix2"> { {label4}}</label>
                                        </div>
                                        -->
                                        {{ render_field(login.password, "vpn_key") }}
                                    </div>
                                </div>
                            </div>
                            <div class="section center">
                                <div class="input-field col s12 m12 l12">
                                    <a href="/home">
                                        <button class="btn waves-effect waves-light register" type="submit" name="action">Log In
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End Log In-->

                    <!--Register Person-->
                    <div class="col s12 m12 l4 white-text center" id="marginRegister">
                        <form action="/registro/persona" method="post">
                            <div class="section">
                                <div class="section center">
                                    <h5>Registrate</h5>
                                </div>
                                <div class="section">
                                    <div class="divider"></div>
                                    <div class="row">
                                        {{ render_field(registro.username) }}
                                    </div>
                                    <div class="row">
                                        {{ render_field( registro.email, "email") }}
                                    </div>
                                    <div class="row">
                                        {{ render_field(registro.carrera, "grade") }}
                                    </div>
                                    <div class="row">
                                        {{ render_field( registro.cuenta, "code")}}
                                    </div>
                                    <div class="row">
                                        {{ render_field(registro.password, "vpn_key") }}
                                    </div>
                                    <div class="row">
                                        {{ render_field(registro.password2, "vpn_key") }}
                                    </div>
                                    <div class="row">
                                        {{render_field(registro.semestre,"")}}
                                    </div>
                                </div>
                                <div class="section center">
                                    <button class="btn waves-effect waves-light register" type="submit" name="action">Registrate
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End Register Person-->

                    <!--Register Project & Team-->
                    <div class="col s12 m12 l4 white-text pull-l8 marginForm center">
                        <form action="/registro/eq" method="post">
                            <div class="section">
                                <div class="section center">
                                    <h5>Registra tu Proyecto & Equipo</h5>
                                </div>
                                <div class="section">
                                    <div class="divider"></div>
                                    <div class="row">
                                        {{ render_field(equipo.name, "people") }}
                                    </div>
                                </div>
                                <div class="section center">
                                    <button class="btn waves-effect waves-light register" type="submit" name="action">Registrar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End Register Project & Team-->
                </div>
            </div>
        </main>

        {{ footer() }}
	{% endblock %}