{% macro card(location = '/registrar', location5 = '/registrar',
label = 'Somos', label1 = 'Proyecto', label2 = 'Equipo', label3 = 'Registrar', label4 = 'Registrate') %}
<!-- Card 1-->
<div class="card1" id="somos">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l6">
                <img class="responsive-img z-depth-5 cardBg" src="{{ url_for('static',filename='media/student1.jpg') }}">
            </div>
            <div class="col s12 m6 l6 push-m1 push-l1">
                <div class="card blue-grey darken-1 z-depth-5">
                    <div class="card-content grey-text text-lighten-4">
                        <span class="card-title center">{{label}}</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card 2-->
<div class="card2" id="proyecto">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l6 push-l7">
                <img class="responsive-img z-depth-5 cardBg" src="{{ url_for('static',filename='media/student2.jpg') }}">
            </div>
            <div class="col s12 m7 l6 push-m3 pull-l7">
                <div class="card grey lighten-4 z-depth-5">
                    <div class="card-content grey-text text-darken-4">
                        <span class="card-title center">{{label1}}</span>
                        <p>Lorem ipsum7 dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card 3-->
<div class="card3" id="equipo">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 l8 push-m3 push-l2">
                <div class="card grey darken-3 z-depth-5">
                    <div class="card-content grey-text text-lighten-4">
                        <span class="card-title center">{{label2}}</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card 4-->
<div class="card4" id="registro">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 l8 push-m3 push-l2">
                <div class="card yellow darken-1">
                    <div class="card-content grey-text text-darken-4">
                        <span class="card-title center">{{label3}}</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="center" id="paddingButton">
                        <a href="{{location5}}">
                            <button class="btn waves-effect waves-light btn-large center register">{{ label4 }}
                                <i class="material-icons right">send</i>
                            </button>
                        </a>
                    </div>
                    <div class="card-action center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endmacro%}