{% macro form (label = '') %}

<main class="light-blue lighten-4">
	<div class="container">
		<div class="row">
				<!--Log In-->
	        <div class="col s12 m12 l4 push-l8">
				<div class="row marginForm">
					<div class="input-field col s12 m12 l12">
						<input id="first_name" type="text" class="validate">
						<label for="first_name">Usuario</label>
					</div>				
				</div>
				<div class="row">
					<div class="input-field col s12 m12 l12">
						<input id="first_name" type="text" class="validate">
						<label for="first_name">Contraseña</label>
					</div>
				</div>			
	        </div>
				<!--Register Person-->
	        <div class="col s12 m12 l4 pull-l4">
	            
	        </div>
				<!--Register Project & Team-->	        
	        <div class="col s12 m12 l4 pull-8">
	            
	        </div>
		</div>
	</div>
</main>

{%endmacro%}