{% macro navbar(location = '/home', label = 'Home') %}
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">NameProject</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ location }}">{{ label }}</a></li>
            {% if 'username' in session %}
                <li><a href="/logout">Cerrar Sesion</a></li>
                <li><a>Hola, {{ session['username'] }}</a></li>
            {% elif label == 'regresar' %}
            {% else %}
                <li><a href="/login">iniciar sesion</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ location }}">{{ label }}</a></li>
            {% if 'username' in session %}
            <li><a href="/logout">Cerrar Sesion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endmacro %}