{% macro navbar(location = '/', location1='#somos', location2='#proyecto', location3='#equipo', location4='#registrar',
location5 = '/login', label = 'SABE', label1 = 'Somos', label2 = 'Proyecto', label3 = 'Equipo', label4 = 'Registrar',
label5 = 'Log In', label6 = 'Log Out') %}
<!--location = '#', label1 = 'La palabra de la dirección'-->

<header>
    <nav>
        <div class="nav-wrapper blue">
            <a href="{{location}}" class="brand-logo">{{label}}</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" id="Navlist">
                <li><a href="{{location1}}">{{label1}}</a></li>
                <li><a href="{{location2}}">{{label2}}</a></li>
                <li><a href="{{location3}}">{{label3}}</a></li>
                <li><a href="{{location4}}">{{label4}}</a></li>
                    {% if 'username' in session %}
                <li><a href="">{{label6}}</a></li>
                    {% elif label == regresar %}
                    {% else %}
                <li><a href="{{login}}">{{label5}}</a></li>
                    {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{location1}}">{{label1}}</a></li>
                <li><a href="{{location2}}">{{label2}}</a></li>
                <li><a href="{{location3}}">{{label3}}</a></li>
                <li><a href="{{location4}}">{{label4}}</a></li>
            </ul>
        </div>
    </nav>
</header>


{%endmacro%}