{% macro render_field(field,icon="person") %}
    <div class="input-field col s12 m12 l12">
        <i class="material-icons prefix">{{ icon }}</i>
        <label id="formlabels" for="icon_prefix">{{ field.label }}</label>
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li id="liError"> {{ error }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endmacro %}
